$color-one:#5AF2FD;
$color-two: #FCC735;
$color-three: #FE5F5F;
$color-four: #BB4DFA;
$icon-size: 1.5rem;
$linear-gradient: (45deg, $color-one 12.50%, $color-two 12.50%, $color-two 25%, $color-three 25%, $color-three 37.50%, $color-four 37.50%, $color-four 50%, $color-one 50%, $color-one 62.50%, $color-two 62.50%, $color-two 75%, $color-three 75%, $color-three 87.50%, $color-four 87.50%, $color-four 100%, $color-one);